html{
    /* margin: auto; */
    height: 100%;
    background-color: #282828;
    margin: auto;
    font-family: 'Trebuchet MS', 'Helvatica';
}

body{
    margin: 100px auto auto auto;
    /* text-align: center; */
    /* max-width: fit-content; */
}

.calculator {
    background-color: #5925f5;
    max-width: 300px;
    border: 1px solid white;
    box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.557);
    padding: 20px;
    margin: auto;
}

.screen{
    font-size: 50px;
    background-color: #e8e8e8;
    border-radius: 15px;
    margin: 0 auto 20px 0;
    padding: 15px 10px;
    color: #0C0032;
    text-align: right;
    border: 1px solid white;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* height: 100%; */
}

button{
    padding: 15px;
    background-color: #e8e8e8;
    color: #0C0032;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 20px;
    box-shadow: 2px 2px 7px #190061;
}

button:hover{
    background-color: #240090;
    color: #e8e8e8;
}

button:focus{
    outline: none;
}

.clear:hover{
    background-color: #F4002D;
    color: #0C0032;
}

.operator:hover{
    background-color: #fff700;
    color: #0C0032;
}

.operator-active{
    background-color: darkblue;
}

.equals:hover{
    background-color: #00ff26;
    color: #0C0032;
}

.clear{
    grid-column: span 2;
}

#add{
    grid-row: span 2;
}
